<template>
    <div class="scroll-me">
      <component :is="component" :data="data"  v-if="component" />
    </div>
</template>

<script>
export default {
  name: 'DynamicComponent',
  props: ['data', 'contentType'],
  data() {
    return {
      component: null,
    };
  },
  computed: {
    loader() {
      if (!this.contentType) {
        return null;
      }
      return () => import(`./utils/${this.contentType}`);
    },
  },
  mounted() {
    this.loader()
      .then(() => {
        this.component = () => this.loader();
      })
      .catch(() => {
        this.component = () => import('./utils/TreeView');
      });
  },
};
</script>

<style scoped>

</style>
