<template>

  <div>
  <h1>{{$store.getters.getCurrentViewName()}}</h1>
  <!--<v-data-table-->
    <!--hide-actions-->
    <!--:headers="viewData.header"-->
    <!--:items="viewData.data"-->
    <!--class="elevation-1"-->
  <!--&gt;-->
    <!--<template slot="items" slot-scope="props">-->
      <!--<td>{{ props.item.name }}</td>-->
      <!--<td class="text-xs-right">{{ props.item.calories }}</td>-->
      <!--<td class="text-xs-right">{{ props.item.fat }}</td>-->
      <!--<td class="text-xs-right">{{ props.item.carbs }}</td>-->
      <!--<td class="text-xs-right">{{ props.item.protein }}</td>-->
      <!--<td class="text-xs-right">{{ props.item.iron }}</td>-->
    <!--</template>-->
  <!--</v-data-table>-->

    <el-table
      :data="viewData.data"
      slot="empty"
      empty-text="No data"
      style="width: 100%"
      :max-height="windowHeight">
      <template v-for="( headerItem ,index) in viewData.header" >
        <el-table-column
          :prop="headerItem.text"
          :label="headerItem.text"
          :sortable="headerItem.sortable"
          width="180"
          v-bind:key="index"
          >
        </el-table-column>
      </template>

    </el-table>

  </div>

</template>

<script>
export default {
  name: 'MainScreen',
  created() {
    this.$store.watch(this.$store.getters.getCurrentView, (currentView) => {
      console.log('watched: ', currentView);
      console.log('windowHeight', this.windowHeight);
      // this.headers = [
      //   {
      //     text: 'Dessert (100g serving)',
      //     align: 'left',
      //     sortable: false,
      //     value: 'name',
      //   },
      //   { text: 'Calories', value: 'calories' },
      //   { text: 'Fat (g)', value: 'fat' },
      //   { text: 'Carbs (g)', value: 'carbs' },
      //   { text: 'Protein (g)', value: 'protein' },
      //   { text: 'Iron (%)', value: 'iron' },
      // ];
      this.getDataFromRemote(currentView);
    });
  },
  methods: {
    generateData(uid) {
      const dataArray = [];
      const max = 10000;
      for (let i = 0; i < uid / 5; i += 1) {
        dataArray[i] = {
          value: false,
          name: `Frozen Yogurt ${Math.floor(Math.random() * Math.floor(max))}`,
          calories: Math.floor(Math.random() * Math.floor(max)),
          fat: Math.floor(Math.random() * Math.floor(max)),
          carbs: Math.floor(Math.random() * Math.floor(max)),
          protein: Math.floor(Math.random() * Math.floor(max)),
          iron: `${Math.floor(Math.random() * Math.floor(max))}1%`,
        };
      }
      return dataArray;
    },
    getDataFromRemote(uid) {
      console.log('start');
      this.axios.get(`http://192.168.56.141:3000/api/test?key=${uid}`, {
        headers: { 'content-type': 'application/x-www-form-urlencoded' },
      }).then((response) => {
        this.viewData.header = response.data.header;
        this.viewData.data = [];
        response.data.data.forEach((item) => {
          const element = {};
          for (let index = 0; index < item.length; index += 1) {
            element[this.viewData.header[index].text] = item[index];
          }
          this.viewData.data.push(element);
        });
        // this.viewData.data = response.data.data
        console.log('ready');
        console.log(this.viewData);
      });
    },
  },
  data() {
    return {
      viewData: {
        header: [],
        data: [],
      },
      headers: [],
      windowHeight: (window.innerHeight - 200),
    };
  },
};
</script>

<style scoped lang="scss">

</style>
