<template>
  <div class="Navigation">
       <DynamicComponent :data="data" :contentType="contentType" />
  </div>
</template>

<script>
import DynamicComponent from './DynamicComponent.vue';

export default {
  name: 'Navigation',
  components: { DynamicComponent },
  data() {
    return {
      width: 300,
      contentType: 'TreeView',
      data: null,
    };
  },
  mounted() {
    // this.axios.get('https://my.api.mockaroo.com/view?key=f4c3e200').then((response) => {
    //   this.data = response.data;
    // });

    // children: [{ id: 236, name: 'Services' }, { id: 531, name: 'Sales' }] }]
    this.data = [
      {
        id: 708,
        name: 'Garden',
        children: [{ id: 236, name: 'Services' }, { id: 531, name: 'Sales' }],
      },
      {
        id: 383,
        name: 'Computers',
        children: [
          { id: 543, name: 'Accounting' },
          { id: 909, name: 'Training' },
          { id: 730, name: 'Accounting' },
          {
            id: 507,
            name: 'Services',
            children: [{ id: 236, name: 'Services' }, { id: 531, name: 'Sales' }],
          },
        ],
      },
      { id: 367, name: 'Tools', children: [{ id: 210, name: 'Engineering' }] },
      {
        id: 272,
        name: 'Jewelery',
        children: [
          { id: 443, name: 'Engineering' },
          { id: 287, name: 'Services' },
          { id: 70, name: 'Marketing' },
          { id: 922, name: 'Services' },
          { id: 565, name: 'Training' },
        ],
      },
      {
        id: 911,
        name: 'Toys',
        children: [{ id: 710, name: 'Training' }, { id: 331, name: 'Product Management' }],
      },
      {
        id: 70,
        name: 'Garden',
        children: [{ id: 410, name: 'Training' }, { id: 122, name: 'Human Resources' }],
      },
      {
        id: 656,
        name: 'Automotive',
        children: [
          { id: 690, name: 'Research and Development' },
          { id: 634, name: 'Research and Development' },
          { id: 801, name: 'Product Management' },
          { id: 21, name: 'Sales' },
          { id: 78, name: 'Services' },
        ],
      },
      { id: 959, name: 'Games', children: [{ id: 997, name: 'Human Resources' }] },
      {
        id: 332,
        name: 'Garden',
        children: [
          { id: 894, name: 'Accounting' },
          { id: 740, name: 'Research and Development' },
          { id: 804, name: 'Engineering' },
          { id: 260, name: 'Human Resources' },
        ],
      },
      {
        id: 119,
        name: 'Kids',
        children: [{ id: 760, name: 'Legal' }, { id: 849, name: 'Support' }],
      },
    ];
  },
};
</script>

<style scoped>
.Navigation {
  /*padding-top: 24px;*/
}
</style>
