<template>
  <v-toolbar app >
    <v-spacer></v-spacer>
    <TopMenu />
  </v-toolbar>
</template>

<script>
import TopMenu from './utils/TopMenu.vue';

export default {
  name: 'Toolbar',
  components: { TopMenu },
};
</script>

<style scoped>

</style>
