<template>
  <el-card class="box-card">
    <el-switch
      v-model="data.mark"
      v-if="index!=0"
      active-text="AND"
      inactive-text="OR"
      width="30"
    ></el-switch>
    <el-button type="success" v-on:click="addItem()">Item</el-button>
    <SqlItem v-for="(field,index) in data.fields" :data="field" :index="index" v-bind:key="index" />
    <el-button type="warning" v-on:click="addGroup()">Group</el-button>
    <SqlGroup v-for="(group,index) in data.groups"  :data="group" v-bind:key="index" />
  </el-card>
</template>

<script>
import SqlItem from './SqlItem.vue';

export default {
  name: 'SqlGroup',
  props: ['data'],
  components: { SqlItem },
  methods: {
    addItem() {
      this.data.fields.push({
        type: '',
        element: 'textBox',
        value: '',
        data: '',
      });
    },
    addGroup() {
      this.data.groups.push({
        mark: '&',
        fields: [],
        groups: [],
      });
    },
  },
};
</script>

<style scoped>

</style>
