<template>
  <div >
  <template >
        <el-switch
          v-model="data.mark"
          v-if="index!=0"
          active-text="AND"
          inactive-text="OR"
          width="30"
        ></el-switch>
        <el-select v-model="data.field"
                   filterable placeholder="Select"
                   :no-data-text="noData"
                   :no-match-text="noMatchText"
                   v-if="$store"
                   :change="FieldChange(data.field)"
        >
          <el-option
            v-for="item in $store.getters.GetFieldList()"
            :key="item.name"
            :label="item.name"
            :value="item.name">
          </el-option>
        </el-select>

        <el-select v-model="data.type" placeholder="Select" :no-data-text="noData">
          <el-option
            v-for="item in $store.getters.GetExpressionList()"
            :key="item.name"
            :label="item.name"
            :value="item.name">
          </el-option>
        </el-select>
      <component :is="inputType" :data="data.value" />
  </template>
  </div>
</template>

<script>
import SqlInput from './SqlInput.vue';

export default {
  name: 'SqlItem',
  props: ['data', 'index'],
  components: { SqlInput },
  methods: {
    FieldChange(data) {
      console.log(data);
      let componentName = null;
      if (data === 'field1' || data === 'field2' || data === 'field3') {
        componentName = 'SqlInput';
      }
      this.inputType = componentName;
    },
  },
  data() {
    return {
      inputType: 'text',
      itemsCollection: [],
      noData: 'No Data',
      noMatchText: 'No match text',
    };
  },
};
</script>

<style scoped lang="scss">
.floatLeft{
  float: left;
}
.el-switch__label *{
  font-size: 11px;
}
</style>
