<template>
  <el-input
    placeholder="Please input"
    class="sqlInput"
    size="mini"
    v-model="dataFromSetup"></el-input>
</template>

<script>
export default {
  name: 'SqlInput',
  props: ['data'],
  data() {
    return {
      dataFromSetup: this.data,
    };
  },
};
</script>

<style scoped>
.sqlInput{
  width: 100px;
}
</style>
