<template>
  <span :class="badgeStyle" >{{data}}</span>
</template>

<script>
export default {
  name: 'Badge',
  props: ['data', 'badgeStyle'],
};
</script>

<style scoped lang="scss">
@import "../../styles/global.scss";

.badge{
  display: inline-block;
  padding: .3125rem .375rem;
  font-size: 75%;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .125rem;
  color: $badge-text-color;
  margin-left: 2px;
  width: 30px;
  &__icon{
    height: 17px;
    width: 17px;
    display: inline-block;
    background: url(../../assets/nav-expand.png) no-repeat top;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: relative;
    top: 4px;
    &--active{
      background: url(../../assets/nav-expand.png) no-repeat bottom;
    }
  }
}
</style>
