<template>
  <div class="Tree">
    <v-btn
      v-if="!$store.getters.getIntervalActive()"
      round color="primary"
      dark
      v-on:click="startIntervalAction()">
      Start <v-icon dark right>check_circle</v-icon>
    </v-btn>
    <v-btn
      v-if="$store.getters.getIntervalActive()"
      round
      color="error"
      dark
      v-on:click="stopIntervalAction()">
      Stop <v-icon dark right>block</v-icon>
    </v-btn>
    <ul>
       <template v-for="(node, index) in data"  >
        <li :class="open[index]? 'active': 'no-active'" v-bind:key="index">
          <div class="layout row wrap Tree__menuLine" v-on:click="openBranch(index, node)">
            <div class="flex xs6">
              <Badge :badgeStyle="plusMinus[index]
               ? 'badge badge__icon badge__icon--active' : 'badge badge__icon'"/>
              {{node.name}}
            </div>
            <div class="flex xs6 text-xs-center Tree__menuLine__info" v-if="badgeContent[index]">
              <Badge :data="badgeContent[index].count" :badgeStyle="badgeStyle"/>
              <Badge :data="badgeContent[index].value" :badgeStyle="badgeStyleR"/>
            </div>
          </div>
          <div v-show="open[index]">
            <TreeViewChildren :data="node.children" />
          </div>
        </li>
       </template>
    </ul>
  </div>
</template>

<script>
import Badge from './Badge.vue';
import TreeViewChildren from './TreeViewChildren.vue';

export default {
  name: 'TreeView',
  props: ['data'],
  components: { Badge, TreeViewChildren },
  methods: {
    stopIntervalAction() {
      this.$store.commit('stopStoreInterval');
      clearInterval(this.interval);
    },
    startIntervalAction() {
      this.$store.commit('startStoreInterval');
      this.startInterval();
    },
    startInterval() {
      this.interval = setInterval(() => {
        const max = 10000;
        this.data.map((value, key) => {
          const badgeCount = Math.floor(Math.random() * Math.floor(max));
          const badgeValue = Math.floor(Math.random() * Math.floor(max));
          this.badgeContent[key] = {};
          this.$set(this.badgeContent, key, { count: badgeCount, value: badgeValue });
          return this.badgeContent[key];
        });
      }, 3000);
    },
    openBranch(index, node) {
      this.$store.commit('setCurrentViewID', node.id);
      this.$store.commit('setCurrentViewName', node.name);
      if (this.open[index]) {
        this.$set(this.open, index, false);
        this.$set(this.plusMinus, index, false);
      } else {
        this.$set(this.open, index, true);
        this.$set(this.plusMinus, index, true);
      }
    },
  },
  mounted() {
    this.startInterval();
  },

  data() {
    return {
      active: [],
      open: [],
      click: 0,
      badgeContent: [],
      badgeData: 10,
      badgeDataR: 20,
      badgeStyle: 'badge blue',
      badgeStyleR: 'badge green',
      plusMinus: [],
      interval: null,
      started: true,
    };
  },
};
</script>

<style scoped lang="scss">
@import "../../styles/global.scss";

.v-list__group--active{
  background: rgba(0,0,0,0.1);
}
.v-chip--small{
  height: 18px;
}
.Tree {
  .v-chip--small{
    height: 15px;
  }
  ul{
    list-style: none;
    padding-left: 10px;
    .active{
      background: $dark-active-background;
    }
    li{
      font-family: 'Roboto', sans-serif;
      padding: 2px;
      margin-bottom: 10px;
    }
  }
  &__menuLine{
    cursor: pointer;
    margin-right: 10px;

    &__info{
      text-align: right !important;
    }
    &:hover{
      color: $TreeMenu-hover-color;
    }
  }
}
</style>
