<template>
  <ul>
      <template v-for="(node, index) in data"  >
      <li v-bind:key="index">
        <div class="layout row wrap Tree__menuLine" @click="openBranch(index, node)">
          <div class="flex xs6">
            <Badge v-if="node.children" :badgeStyle="plusMinus[index]
               ? 'badge badge__icon badge__icon--active' : 'badge badge__icon'"/>
            {{node.name}}
          </div>
          <div class="flex xs6 text-xs-center Tree__menuLine__info" v-if="badgeContent[index]">
              <Badge :data="badgeContent[index].count" :badgeStyle="badgeStyle"/>
              <Badge :data="badgeContent[index].value" :badgeStyle="badgeStyleR"/>
          </div>
        </div>
        <div v-show="open[index]">
          <TreeViewChildren :data="node.children" />
        </div>
      </li>
      </template>
  </ul>
</template>

<script>
import Badge from './Badge.vue';

export default {
  name: 'TreeViewChildren',
  components: { Badge },
  props: ['data'],
  methods: {
    stopInterval() {
      clearInterval(this.interval);
    },
    startInterval() {
      if (this.data) {
        this.interval = setInterval(() => {
          const max = 10000;
          this.data.map((value, key) => {
            const badgeCount = Math.floor(Math.random() * Math.floor(max));
            const badgeValue = Math.floor(Math.random() * Math.floor(max));
            this.badgeContent[key] = {};
            this.$set(this.badgeContent, key, { count: badgeCount, value: badgeValue });
            return this.badgeContent[key];
          });
        }, 2000);
      }
    },
    runStop(runStop) {
      if (runStop) this.startInterval();
      else this.stopInterval();
    },
    openBranch(index, node) {
      this.$store.commit('setCurrentViewID', node.id);
      this.$store.commit('setCurrentViewName', node.name);
      if (this.open[index]) {
        this.$set(this.open, index, false);
        this.$set(this.plusMinus, index, false);
      } else {
        this.$set(this.open, index, true);
        this.$set(this.plusMinus, index, true);
      }
    },
  },
  created() {
    this.runStop(this.$store.getters.getIntervalActive);
    this.$store.watch(this.$store.getters.getIntervalActive, (IntervalActive) => {
      console.log('watched: ', IntervalActive);
      this.runStop(IntervalActive);
    });
  },
  data() {
    return {
      active: [],
      open: [],
      badgeContent: [],
      badgeData: 10,
      badgeDataR: 20,
      badgeStyle: 'badge blue',
      badgeStyleR: 'badge green',
      interval: null,
      plusMinus: [],
    };
  },
};
</script>

<style scoped lang="scss">
@import "../../styles/global.scss";
.Tree {
  .v-chip--small {
    height: 15px;
  }
  ul {
    list-style: none;
    padding-left: 40px !important;
    li {
      font-family: "Roboto", sans-serif;
      padding: 2px;
    }
  }
  &__menuLine {
    cursor: pointer;
    margin-right: 8px;
    &__info {
      text-align: right !important;
    }
    &:hover {
      color: $TreeMenu-hover-color;
    }
  }
}
</style>
