//Variables ----------------------------------
$root-FontFamily : -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$dark-Navigation_background : #2a3542;
$dark-Navigation_textColor : #aeb2b7;
$dark-Navigation_textSize : 12px;
$dark-Navigation_width : 25%;
$dark-Navigation_min-width : 300px;
$dark-Сontent-background : #f1f2f7;
$dark-active-background : #35404d;
$badge-blue-background : #29b6f6;
$badge-text-color : #fff;
$TreeMenu-hover-color: #FF6C60;
//--------------------------------------------

//Elements -----------------------------------
//Custom resizer - start
.custom-resizer {
  width: 100%;
  height: 100%;
  border-left: 1px solid #ccc;
}
.custom-resizer > .pane {
  text-align: left;
  padding: 15px;
  overflow: hidden;
  background: #eee;
  border: 1px solid #ccc;
}
.custom-resizer > .pane ~ .pane {
}
.custom-resizer > .multipane-resizer {
  margin: 0; left: 0;
  position: relative;
  border-left: 1px solid #ccc;
  &:before {
    display: block;
    content: "";
    width: 3px;
    height: 40px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -20px;
    margin-left: -1.5px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  &:hover {
    &:before {
      border-color: #999;
    }
  }
}
//Custom resizer - end
//--------------------------------------------
