<template>
  <div>
    <SqlGroup :data="$store.getters.GetQueryBuilderData()" /><br>
  </div>
</template>

<script>
import SqlGroup from '../components/SQLInterface/SqlGroup.vue';

export default {
  name: 'RequestGenerator',
  components: { SqlGroup },
  data() {
    return {
      itemsList: [
        {
          type: '',
          element: 'textBox',
          value: '',
          data: '',
        },
      ],
      andCollection: [],
      orCollection: [],
      currentView: 1,
    };
  },
};
</script>

<style scoped>

</style>
