<template>
  <v-app class="applicationSide">
    <Toolbar />
    <multipane class="custom-resizer" layout="vertical">
      <div class="leftSide">
        <v-content>
              <Navigation v-bind:nav_title="nav_title"/>
        </v-content>
      </div>
      <multipane-resizer></multipane-resizer>
      <div class="contentSide">
        <v-content>
          <v-container >
            <router-view></router-view>
          </v-container>
        </v-content>
      </div>
    </multipane>
  </v-app>

</template>

<script>
import { Multipane, MultipaneResizer } from 'vue-multipane'; // Component for resizing panel
import Navigation from './components/Navigation.vue'; // Navigation side component (lieft menu)
import Toolbar from './components/Toolbar.vue'; // Toolbar component (top menu)

export default {
  name: 'App',
  components: {
    Navigation,
    Toolbar,
    Multipane,
    MultipaneResizer,
  },
  data() {
    return {
      nav_title: 'FXTM Panel',
    };
  },
};
</script>
<style lang="scss">
@import "styles/global.scss";
.applicationSide{
  background: $dark-Сontent-background !important;
  font-family: $root-FontFamily;
}
.leftSide{
    background: $dark-Navigation_background;
    color: $dark-Navigation_textColor;
    font-size: $dark-Navigation_textSize;
    width: $dark-Navigation_width;
    overflow: hidden;
    min-width: $dark-Navigation_min-width;
}
.contentSide{
  overflow: hidden;
}

.el-header {
  background-color: #B3C0D1;
  color: #333;
  line-height: 60px;
}

.el-aside {
  color: #333;
}


</style>
